name: Test

on: [push]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile

      - name: Build ensjs
        run: pnpm -F @ensdomains/ensjs build

      - name: Run tests
        run: pnpm -F @ensdomains/ensjs tenv start --extra-time 11368000 --verbosity 1

      - name: Publish on pkg.pr.new
          run: pnpm dlx pkg-pr-new publish './packages/ensjs'
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Type check
        run: pnpm -F @ensdomains/ensjs build
